.content-app {
  margin-top: 90px;
  padding: 2rem 10rem 2rem 10rem;
}

.btn-header {
  color: var(--primary);
}

.title {
  display: flex;
  margin-bottom: 2rem;
}

.title_logo {
  width: 179px;
  height: 179px;
  border-radius: 20px;
  border: 1;
  overflow: hidden;
}

.title_texts {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title_texts h1 {
  font-size: 64px;
  font-weight: 700;
}

.title_texts p {
  font-size: 24px;
  font-weight: 400;
}
